$colors: (
  brand-color: (
    bg-beige: #fae2cb,
    bg-red: (
      base: #f43127,
      darkest: #ef2116,
    ),
    bg-yellow: #f59a1b,
    bg-brown: #3b200b,
  ),
  text-color: (
    title-87: #34201f,
    title-60: #4d5257,
    title-38: #8b8f94,
  ),
  light: (
    base: #f7f7f7,
    darkest: #f0f0f0,
  ),
  dark: (
    base: #7e7a7a,
    darkest: #292929,
  ),
) !default;

@function color($color, $complementary: null) {
  @if map-hasa-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }
    } @else {
      @return map-get(map-get($colors, $color), $complementary);
    }
  }
}
